/* 公共样式 */
body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #444;
    background-color: #f8f8f8;
    min-width: 400px;
    max-width: 600px;
}
.container {
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* 标题样式 */
.title {
    margin-bottom: 20px;
    text-align: center;
}
h2 {
    font-size: 24px;
    font-weight: bold;
}

/* 列表样式 */
#list-container {
    background-color: #f5f7fa;
    padding: 20px;
    margin-bottom: 20px;
}

.row {
    background-color: #fff;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1), 0 4px 12px 0 rgba(0,0,0,0.08);
}

.row-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row-main .display-name {
    flex-grow: 1;
    font-size: 16px;
    padding: 5px;
}
.row-main .display-name.selected {
    font-weight: bold;
    background-color: #ffffff;
}
.row-main .display-name.selectable {
    cursor: pointer;
    color: #00d;
}
.row-main .button {
    font-size: 14px;
    color: #999;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    padding: 5px 5px;
    margin: 0 5px;
    text-align: center;
}
.row-main .button:hover {
    cursor: pointer;
}
.row-main .button.rename {
    background-color: #fff;
}
.row-main .button.delete {
    background-color: #fff;
}
.row-main .delete:hover {
    color: #ff6a00;
    border-color: #ff6a00;
}
.row-foot {
    font-size: 12px;
    color: #999999;
}
.row-foot .time-left {
    color: green;
}
.row-foot .time-left.expired {
    color: red;
}

/* 底部按钮 */
.bottom-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-bar button {
    cursor: pointer;
    font-size: medium;
    color: #fff;
    background-color: #ff6a00;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.2s ease-in-out;
}

.bottom-bar button:hover {
    background-color: #aa6a00;
}